body {
    padding-top: 60px;
}

.field_with_errors {
    display: inline;
}

.field_with_errors label {
    color: #B94A48;
}

.hero-unit {
    padding-bottom: 10px;
    padding-top: 30px;
}

#result_container {
    margin-top: -18px;
}

#generated_password {
  font-weight: bold;
}

.container {
    width: 780px;
}

label {
    width: 178px;
}

form .input {
    margin-left: 198px;
}

fieldset legend,
.actions {
    padding-left: 198px;
}
