body {
    padding-top: 60px;
}

.field_with_errors {
    display: inline;
}

.hero-unit {
    padding-bottom: 10px;
    padding-top: 30px;
}

#result_container {
    margin-top: -18px;
}

#generated_password {
  font-weight: bold;
}

.container {
    width: 780px;
}